header{background: black;}

.nav img{height: 90px;
width: 90px;
margin-left: 20px;}

.nav1 ul li{display: inline-block;
list-style: none;
color: white;
text-decoration: none;
font-size: 20px;
margin-top: 30px;
padding-left: 80px}

.nav1 ul li a{text-decoration: none;
color: white;
padding: 15px;}

.nav1 ul li a:hover{color: #bf9a2f;}


.nav2 h1{font-size: 120px;
margin-top: 40px;
color: #bf9a2f;
font-weight: 700;
width: 100%;}

.nav2 a{background: mediumblue;}

.nav2 p{color:white; 
font-size: 23px;
width: 100%;
font-weight: 800;}

.nav2 a{display: inline-block;
text-decoration: none;
color: white;
background: #bf9a2f;
padding: 10px 30px;
font-size: 18px;
margin-top: 30px;
border-radius: 6px;
border:solid white 1px;}

.nav2 a:hover{color: black;
background: grey;}

.nav3 img{width: 500px;
width: 100%;
height: 430px;
margin-top: 80px;
margin-left: -10px;}

.nav4 h1{font-size: 45px;
margin-top: 30px;
text-align: center;
color: #bf9a2f;
font-weight: 600;}

.nav5 img{height: 500px;
width: 400px;
margin-top: 50px;
width: 90%;}

.nav6 h1{color: white;
padding-top: 90px;
font-size: 50px;}

.nav3 {
    opacity: 0;
    transform: translateY(100px);
    animation: slide-in 3s ease forwards;
}

@keyframes slide-in {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.nav3.animated {
    animation-play-state: running;
}

.nav6 p{color: white;
font-size: 15px;
padding-top: 20px;}

.nav6 a{text-decoration: none;
background: #bf9a2f;
border: solid white 1px;
padding: 10px 25px;
margin-top: 20px;}

.nav2{
    opacity: 0;
    transform: translateY(100px);
    animation: slide-in 3s ease forwards;
}

@keyframes slide-in {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.nav2.animated {
    animation-play-state: paused;
}

.nav7 h1{color: white;
font-size: 50px;
font-weight: 600;
text-align: center;
padding-top: 40px;}

.nav8 p{text-align: center;
color: white;
font-size: 20px;
padding-top: 40px;}

.nav9{height: 450px;
width: 350px;
background: #0c0c0c;
border-radius: 20px;
margin:10px;
margin-top: 50px;
justify-content: center;}

.nav9 h6{font-size: 35px;
color: #bf9a2f;
text-align: center;
background: #0c0c0c;
padding-top: 50px}

.nav9 p{font-size: 25px;
text-align: center;
background: #0c0c0c;
color: white;
padding-top: 20px;}

.nav9 a{font-size: 20px;
background: #bf9a2f;
text-align: center;
color: white;
padding: 10px 20px;
border-radius: 20px;
text-decoration: none;
margin-left: 90px;
border: solid white 1px;}

.nav8 a:hover{background: grey;
color: black;}

.nav9:hover{border: solid #bf9a2f 1px;
animation: zoom 0.5s ease-in-out forwards;}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.nav10 h1{color: #bf9a2f;
font-size: 50px;
font-weight: 600;
text-align: center;
padding-top: 40px;}

.btn{background: #bf9a2f;
padding: 10px 30px;
border: solid white 1px;}

.nav24 h1{color: white;
font-size: 35px;
padding-top: 50px;}

.nav24 input{width: 350px;
height: 50px;
margin: 8px;
background: #111111;
border: solid white 1px;
color: white;
padding-left: 20px;
width: 90%;}

.nav24 a{padding: 12px 40px;
margin-top: 40px;
margin: 8px;
background: #bf9a2f;
margin-bottom: 30px;
border: solid white 1px;}

.nav25 h1{color: white;
margin-top: 90px;}

.nav25 p{color: white;}

.nav24{margin-top: 50px;}

.nav25{margin-top: 50px;}

.nav26{background: black;}

.nav26 h1{font-size: 30px;
color: #bf9a2f;
font-weight: 600;
text-align: center;
padding: 20px;}

footer{background: black;}